.header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 100;
    /* bottom: 0; */
    background-color: #343333;
    display: flex;
    justify-content: space-between; /* горизантальная линия */
    align-items: center; /* Вертикальная линия */
    height: 80px;
} 

.header-logo img {
    width: 140px;
}

.header-nav a {
    color: #fff; /* 0-9 A-F - 16 HEX CODE */
    text-transform: uppercase;
    margin-left: 20px;
    transition: .5s;

    position: relative;

    /* padding: 20px;
    border-radius: 30px; */
}

.nav-link::after {
    content: '';
    width: 0;
    height: 1px;

    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    transition: .5s;
}

.nav-link:hover::after {
    width: 100%;
}


/* .header-nav a:first-child {
    background-color: aqua;
}

.header-nav a:nth-child(2n){
    background-color: red;
}

.header-nav a:last-child {
    background-color: yellow;
} */


/* 
.first-item {
    background-color: blue;;
}

.first-item:hover {
    background-color: yellow;
} */





/* .nav-link:hover {
    background-color: red;
}

.nav-link:hover::after {
    background-color: transparent;
} */


/* .nav-link::after {
    content: ' ';
    width: 5px;
    height: 5px;
    position: absolute;
    background-color: #fff;

    top: 45%;
    right: -15px;

    border-radius: 50%;
} */


/* .parent {
    width: 500px;
    height: 500px;
    border: 1px solid red;

    margin-bottom: 1000px;
}

.child {
    width: 100px;
    height: 100px;
    background-color: lawngreen;

    position: absolute;
    top: 10px;
    left: 10px;

    z-index: 2;
}

.second-child {
    width: 100px;
    height: 100px;
    background-color: tomato;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
} */